:root {
  --purple: #9c69e2;
  --pink: #f063b8;
  --dark_blue: #212353;
  --grey: #91999e;
  --transparent-pink: #f063b83a;
  --dark-grey: #4b5d68;
}

@import url("https://fonts.cdnfonts.com/css/avenir");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
}

html {
  scroll-behavior: smooth;
}

main,
nav,
footer {
  padding: 20px 10%;
}

main {
  padding-top: 60px;
}

nav#navBar {
  display: flex;
  flex-direction: row;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s;
}

.nav-colored {
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  background-color: white;
}

#navBarRes {
  position: fixed;
  top: -300px;
  background-color: white;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  transition: top 0.5s;
}

nav#navBar > #logo,
#logo {
  /* width: 10%; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

#logo > div:first-child {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--purple);
}

#logo > div:last-child {
  width: 20px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--pink);
  margin-left: 5px;
}

nav#navBar > #links {
  width: 40%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav#navBar > #links li,
#navBarRes > #links li {
  color: var(--grey);
  transition: all 0.3s;
  font-weight: 500;
  cursor: pointer;
  font-family: "Avenir", "Poppins", "Poppins";
}

#navBarRes > #links li {
  margin: 15px 0;
}

nav#navBar > #links li.active,
#navBarRes > #links li.active {
  color: var(--dark_blue);
}

nav#navBar > #links > li:hover,
#navBarRes > #links li:hover {
  color: var(--dark_blue);
}

nav#navBar > #button {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  text-decoration: none;
}

#res {
  display: none;
}

#res > #menuBar {
  transition: all 0.3s;
}

nav#navBar > #button a,
footer > section:first-child a:last-child,
#navBarRes > #button a {
  all: unset;
  font-weight: 500;
  cursor: pointer;
  font-family: "Avenir", "Poppins";
  color: var(--dark_blue);
  padding: 0px 30px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  transform: scale(0.9);
  background-color: white;
}

#navBarRes > #button a {
  width: 150px;
  margin-left: 20px;
}

nav#navBar > #button > a:active,
#navBarRes > #button a:active {
  margin-top: 5px;
}

nav#navBar > #button > a > i,
#navBarRes > #button > a > i,
footer > section:first-child a:last-child > i {
  color: var(--purple);
  margin-top: 5px;
  margin-left: 20px;
}

ul {
  list-style-type: none;
}

section#tableSection h1 {
  font-size: 35px;
  color: var(--dark_blue);
  font-family: Helvetica;
  margin: 60px 0;
}

table {
  font-family: "Avenir", "Poppins";
}

#data {
  border-collapse: collapse;
  width: 100%;
}

#data td,
#data th {
  border: 1px solid #ddd;
  padding: 10px;
}

#data tr:nth-child(even) {
  background-color: rgba(156, 105, 226, 0.1);
}

#data tr:hover {
  background-color: var(--dark-grey);
  color: white;
  cursor: pointer;
}

#data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--purple);
  color: white;
}

form {
  margin: 50px 0;
}

form fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 50px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form input[type="text"],
form input[type="number"] {
  flex: 1 0 130px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 1rem;
  padding: 10px;
  font-family: "Avenir", "Poppins";
  border-radius: 5px;
}

form input[type="submit"] {
  flex: 1 0 40px;
  border: 1px solid var(--purple);
  outline: none;
  font-size: 1rem;
  background-color: var(--purple);
  color: white;
  padding: 10px;
  font-family: "Avenir", "Poppins";
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

form input[type="submit"]:hover {
  background-color: var(--dark_blue);
  border-color: var(--dark_blue);
}

form input.typing:invalid {
  border-color: red;
}

@media only screen and (max-width: 800px) {
  /*Big smartphones [426px -> 700px]*/

  nav#navBar > #links {
    display: none;
  }

  section#tableSection h1 {
    font-size: 25px;
    margin: 30px 0;
  }

  #res {
    width: 50%;
    display: grid;
    place-items: center;
  }

  #res i {
    font-size: 20px;
  }

  nav#navBar > #button a {
    display: none;
  }

  nav#navBar {
    justify-content: space-between;
  }

  #data td,
  #data th {
    font-size: 12px;
  }

  form fieldset {
    padding: 20px 10px;
  }
}
