:root {
  --purple: #9c69e2;
  --pink: #f063b8;
  --dark_blue: #212353;
  --grey: #91999e;
  --transparent-pink: #f063b83a;
  --dark-grey: #4b5d68;
}

@import url("https://fonts.cdnfonts.com/css/avenir");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
}

html {
  scroll-behavior: smooth;
}

main,
nav,
footer {
  padding: 20px 10%;
}

main {
  padding-top: 60px;
}

nav#navBar {
  display: flex;
  flex-direction: row;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s;
}

.nav-colored {
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  background-color: white;
}

#navBarRes {
  position: fixed;
  top: -300px;
  background-color: white;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  transition: top 0.5s;
}

nav#navBar > #logo,
#logo {
  /* width: 10%; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

#logo > div:first-child {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--purple);
}

#logo > div:last-child {
  width: 20px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--pink);
  margin-left: 5px;
}

nav#navBar > #links {
  width: 40%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav#navBar > #links li,
#navBarRes > #links li {
  color: var(--grey);
  transition: all 0.3s;
  font-weight: 500;
  cursor: pointer;
  font-family: "Avenir", "Poppins", "Poppins";
}

#navBarRes > #links li {
  margin: 15px 0;
}

nav#navBar > #links li.active,
#navBarRes > #links li.active {
  color: var(--dark_blue);
}

nav#navBar > #links > li:hover,
#navBarRes > #links li:hover {
  color: var(--dark_blue);
}

nav#navBar > #button {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  text-decoration: none;
}

#res {
  display: none;
}

#res > #menuBar {
  transition: all 0.3s;
  color: var(--purple);
}

nav#navBar > #button a,
footer > section:first-child a:last-child,
#navBarRes > #button a {
  all: unset;
  font-weight: 500;
  cursor: pointer;
  font-family: "Avenir", "Poppins";
  color: var(--dark_blue);
  padding: 0px 30px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  transform: scale(0.9);
  background-color: white;
}

#navBarRes > #button a {
  width: 150px;
  margin-left: 20px;
}

nav#navBar > #button > a:active,
#navBarRes > #button a:active {
  margin-top: 5px;
}

nav#navBar > #button > a > i,
#navBarRes > #button > a > i,
footer > section:first-child a:last-child > i {
  color: var(--purple);
  margin-top: 5px;
  margin-left: 20px;
}

ul {
  list-style-type: none;
}

section#tableSection h1 {
  font-size: 35px;
  color: var(--dark_blue);
  font-family: Helvetica;
  margin: 60px 0;
}

table {
  font-family: "Avenir", "Poppins";
}

#data {
  border-collapse: collapse;
  width: 100%;
}

#data td,
#data th {
  border: 1px solid #ddd;
  padding: 10px;
}

#data tr:nth-child(even) {
  background-color: rgba(156, 105, 226, 0.1);
}

#data tr:hover {
  background-color: var(--dark-grey);
  color: white;
  cursor: pointer;
}

#data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--purple);
  color: white;
}

form {
  margin: 50px 0;
}

form fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 50px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form input[type="text"],
form input[type="number"] {
  flex: 1 0 130px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 1rem;
  padding: 10px;
  font-family: "Avenir", "Poppins";
  border-radius: 5px;
}

form input[type="submit"] {
  flex: 1 0 40px;
  border: 1px solid var(--purple);
  outline: none;
  font-size: 1rem;
  background-color: var(--purple);
  color: white;
  padding: 10px;
  font-family: "Avenir", "Poppins";
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

form input[type="submit"]:hover {
  background-color: var(--dark_blue);
  border-color: var(--dark_blue);
}

form input.typing:invalid {
  border-color: red;
}

footer > section:first-child button:first-child {
  all: unset;
  background-color: var(--purple);
  font-weight: 500;
  cursor: pointer;
  font-family: "Avenir", "Poppins";
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  padding: 0px 30px;
  color: white;
}

footer > section:first-child button:first-child:active,
footer > section:first-child button:last-child:active {
  transform: scale(0.8);
}

footer > section.sec1 p {
  font-family: "Avenir", "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: var(--dark-grey);
}

footer > section.sec1 h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: var(--dark_blue);
}

footer > section.sec1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer > section.sec1 > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer > section.sec1 > div:last-child > button:last-child {
  margin-left: 30px;
}

footer > section.sec1 > div:last-child > button:first-child {
  background-color: var(--pink);
}

footer {
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

footer > section.sec2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

footer > section.sec2 > div {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}

footer > section.sec2 > div:first-child > div {
  display: flex;
  align-items: center;
  width: 100%;
}

ul {
  list-style-type: none;
}

footer > section.sec2 h2 {
  font-family: "Avenir", "Poppins";
  color: var(--dark_blue);
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
}

footer > section.sec2 h2:not(.dataware) {
  height: 40px;
  margin-left: 10px;
}

.dataware {
  margin-left: 20px;
}

.address {
  width: 335px;
  font-family: "Avenir", "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: var(--dark_blue);
  letter-spacing: 0.01em;
  margin-top: 50px;
}

.info {
  font-family: "Avenir", "Poppins";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 10%;
  letter-spacing: 0.01em;
  color: var(--dark-grey);
}

footer li {
  font-family: "Avenir", "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
  color: var(--dark-grey);
}

footer span > i {
  color: white;
  font-size: 20px;
}

footer span {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(33, 35, 83, 0.1);
  margin-right: 10px;
}

.mediaicons {
  display: flex;
  margin-left: 50px;
}

.sec3 > p:first-child {
  width: 360px;
  font-family: "Avenir", "Poppins", "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: var(--dark-grey);
}

.sec3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec3 > p:last-child {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: rgba(156, 105, 226, 0.3);
  cursor: pointer;
  animation: bounce 0.5s infinite alternate;
  position: relative;
}

@keyframes bounce {
  to {
    transform: scale(1.1);
  }
}

.sec3 > p:last-child > i {
  font-size: 20px;
  color: var(--purple);
}

.sec3 > p:last-child > span {
  position: absolute;
  color: white;
  top: -5px;
  width: 60px;
  height: 60px;
  background: transparent;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  /*Big smartphones [426px -> 700px]*/

  nav#navBar > #links {
    display: none;
  }

  section#tableSection h1 {
    font-size: 25px;
    margin: 30px 0;
  }

  #res {
    width: 50%;
    display: grid;
    place-items: center;
  }

  #res i {
    font-size: 20px;
  }

  nav#navBar > #button a {
    display: none;
  }

  nav#navBar {
    justify-content: space-between;
  }

  #data td,
  #data th {
    font-size: 12px;
  }

  form fieldset {
    padding: 20px 10px;
  }

  form input[type="text"],
  form input[type="number"],
  form input[type="submit"],
  legend {
    font-size: 0.8rem;
  }
  footer > section.sec1 {
    flex-direction: column;
    align-items: flex-start;
  }

  nav#navBar > #button > button,
  footer > section:first-child button:last-child,
  footer > section.sec1 > div:last-child > button:first-child {
    padding: 0px 15px;
  }

  section#hero > article:first-child > button,
  footer > section:first-child button:first-child,
  nav#navBar > #button > button,
  footer > section:first-child a:last-child {
    font-size: 0.8rem;
  }

  nav#navBar > #button > button > i,
  footer > section:first-child button:last-child > i {
    margin-left: 10px;
  }

  footer > section.sec2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: 50px;
    margin-top: 50px;
  }

  footer > section.sec2 > div {
    width: 100%;
    align-items: flex-start;
  }

  footer > section.sec2 > div:first-child {
    grid-column: 1 / 3;
  }

  footer > section.sec2 h2:not(.dataware),
  footer ul {
    margin: 0px;
    padding: 0px;
  }

  .address {
    width: 100%;
    margin-top: 30px;
  }

  .mediaicons {
    margin: 0;
  }

  .sec3 > p:first-child {
    width: 80%;
  }

  footer > section.sec1 > div:last-child > button:last-child {
    margin-left: 15px;
  }
}
